// secrets.h.example
// このファイルを secrets.h にコピーして、自分の環境の値を埋めること。
// secrets.h 自体は .gitignore 対象 (コミットしない)。
#pragma once
#define SECRET_WIFI_SSID "..."
#define SECRET_WIFI_PASS "..."
#define SECRET_MQTT_HOST "xxxxxxxx.s1.eu.hivemq.cloud"
#define SECRET_MQTT_USER "..."
#define SECRET_MQTT_PASS "..."
